<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mogu"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 사용 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_reverse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_reverse"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mogu"
        android:name=".kakao.GlobalApplication"
        tools:targetApi="31">

        <!-- MainActivity 설정 -->
        <activity
            android:name=".screen.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignUp 화면으로 가기 위한 설정 추가 -->
        <activity android:name=".screen.SignUp"></activity>
        <activity android:name=".screen.MapActivity"></activity>
        <activity android:name=".screen.HomeMap">

        </activity>

        <!-- Kakao SDK 초기화를 위한 설정 -->
        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="f10c3376258c26cd124dd9604b4ae7fd">
        </meta-data>

        <!-- Kakao 로그인 Redirect URI 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakaof10c3376258c26cd124dd9604b4ae7fd" />
            </intent-filter>
        </activity>

        <!-- WebSocketService 등록 -->
        <service android:name=".websocket.WebSocketService"
            android:exported="false" />
    </application>

</manifest>
